Write a Python program to sum all the items in a list

In [ ]:
lists=[2,4,3,5,6,8,0,8,6,5,4]
total = 0
for number in lists:
    total += number
print("The sum of the list is:", total)

The sum of the list is: 51

Write a Python program to get the largest number from a list

In [ ]:
lists = [6, 8, 1, 9, 4]
largest = lists[0]
for number in lists:
    if number > largest:
        largest = number
print("The largest number in the list is:", largest)

The largest number in the list is: 9

Write a Python program to remove duplicates from a list

In [ ]:
lists = [1, 2, 5, 2, 4, 1, 5, 3]
newlist = []
for item in lists:
    if item not in newlist:
        newlist.append(item)
print("List after removing duplicates:", newlist)

List after removing duplicates: [1, 2, 5, 4, 3]

Write a Python program to create a tuple with numbers and print one item.

In [ ]:
tuples = (5, 10, 15, 20, 25)
print("The third item in the tuple is:", tuples[2])

The third item in the tuple is: 15

Write a Python program to convert a tuple to a string.

In [ ]:

tuples = ('Hello', 'i', 'am', 'Hadia', 'Naseer')
string = ' '.join(tuples)
print("The string is:", string)

The string is: Hello i am Hadia Naseer

Write a Python program to find the index of an item of a tuple.

In [ ]:
tuples = (10, 20, 30, 40, 50)
find = 30
if find in tuples:
    index = tuples.index(find)
    print(f"The index of {find} in the tuple is: {index}")
else:
    print(f"{find} is not in the tuple.")

The index of 30 in the tuple is: 2

Write a Python program to create a union of sets.

In [ ]:
seta = {1, 2, 3, 4, 5}
setb = {4, 5, 6, 7, 8}
unionset = seta.union(setb)
print("Union of set a and set b is:", unionset)

Union of set a and set b is: {1, 2, 3, 4, 5, 6, 7, 8}

Write a Python script to concatenate following dictionaries to create a new one.
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
resultdict = dic1.copy()
resultdict.update(dic2)
resultdict.update(dic3)
print("Concatenated Dictionary:", resultdict)

Concatenated Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Write a Python program to sum all the items in a dictionary

In [ ]:
dict1 = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
sum = sum(dict1.values())
print("The sum of all items in the dictionary is:", sum)

The sum of all items in the dictionary is: 100

Write a Python program to remove a key from a dictionary.

In [ ]:
dict1 = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
key = 'b'
if key in dict1:
    removed = dict1.pop(key)
    print(f"Removed key '{key}' with value {removed}.")
else:
    print(f"Key '{key}' not found in the dictionary.")
print("Updated dictionary:", dict1)

Removed key 'b' with value 20.
Updated dictionary: {'a': 10, 'c': 30, 'd': 40}

Write a Python function that takes a list of words and return the longest word and the
length of the longest one.
41
Sample Output:
Longest word: Exercises
Length of the longest word: 9

In [ ]:
lists= ["Python", "Exercises", "Code", "Programming", "Functionality"]
longest_word = ""
longest_length = 0
for word in lists:
    if len(word) > longest_length:
        longest_word = word
        longest_length = len(word)
print("Longest word:", longest_word)
print("Length of the longest word:", longest_length)

Longest word: Functionality
Length of the longest word: 13

Write a Python program to remove the nth index character from a nonempty string

In [ ]:
string = "Hello, World!"
n = 7
if 0 <= n < len(string):
    modified = string[:n] + string[n+1:]
    print("Modified string:", modified)
else:
    print("Error: Index is out of range.")

Modified string: Hello, orld!

Write a Python script that takes input from the user and displays that input back in
upper and lower cases.

In [ ]:
input= input("Please enter some text: ")
upper_case =input.upper()
lower_case =input.lower()
print("Upper case:", upper_case)
print("Lower case:", lower_case)

Please enter some text: hadia naseer
Upper case: HADIA NASEER
Lower case: hadia naseer